@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

.TodoTemplate{
    text-align: center;
    width: 50%;
    margin: 6rem auto 0 auto;
}
.appTitle{
    height: 100px;
    background: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content{
    background-color: #61dafb;
}
